@model List<AspCore_Course.Models.Post>

    <a href="/post/createpost/" class="btn btn-success">افزودن</a>
    <div class="container">
   
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>ShortDesc</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var item in Model)
            {
                  <tr>
        <td>@item.Title</td>
        <td>@item.ShortDesc</td>
        <td>
               <a href="/post/deletepost/@item.Id" class="btn btn-danger">حذف</a>
               <a href="/post/EditPost/@item.Id" class="btn btn-warning">ویرایش</a>
               <a href="/post/ShowPost/@item.Id" class="btn btn-primary">نمایش</a>
        </td>
         </tr>
            }
        </tbody>
  </table>
</div>